<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
			destroy-method="close">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
		<property name="user" value="c##myblog" />
		<property name="password" value="1234" />
		<property name="maxPoolSize" value="100" />
		<property name="maxIdleTime" value="600" />
		<property name="idleConnectionTestPeriod" value="300"/>	
	</bean>
		<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
			value="classpath:config/mybatis-config.xml"/>
		<property name="mapperLocations">
			<list>
				<value>classpath:config/*-member.xml</value>
			</list>
		</property>
	</bean>
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"
				destroy-method="clearCache">
			<constructor-arg ref="sqlSessionFactory" />			
	</bean>
		<bean id="memberDao" class="member.dao.MemberDaoImpl">
		<constructor-arg ref="sqlSessionTemplate"/>
	</bean>
		<bean id="memberSvc" class="member.service.MemberServiceImpl">
		<constructor-arg ref="memberDao"/>
	</bean>
	<bean id="authSvc" class="member.service.AuthService">
		<constructor-arg ref="memberDao"/>
	</bean>
	
	<bean id="boardDao" class="board.dao.BoardDaoImpl">
		<constructor-arg ref="sqlSessionTemplate" />
	</bean>
	<bean id="commentDao" class="board.dao.CommentDaoImpl">
		<constructor-arg ref="sqlSessionTemplate" />
	</bean>
	<bean id="boardSvc" class="board.service.BoardServiceImpl">
		<property name="boardDao" ref="boardDao"/>
	</bean>
	<bean id="commentSvc" class="board.service.CommentServiceImpl">
		<property name="commentDao" ref="commentDao" />
	</bean>
</beans>